.app-conatiner{
  display:flex;
  flex-direction:row;
  min-height:100vh;
}
.content{
  width:100%;
  flex-direction:column;
  flex:1,
  overflow-y:auto;
}
.sidebar{
  min-height:800px;
  padding:0px;
}
.post-card{
  margin:20px 50px;
}
.hshtag{
  margin:0px 3px;
}
.reactions{
  width:100%;
}
